.DS_Store
/src/monitorx.egg-info
/src/monitorx/__pycache__
/tests/__pycache__
/src/monitorx/sdk/__pycache__
/src/monitorx/api/__pycache__
/src/monitorx/services/__pycache__
/src/monitorx/types/__pycache__
/src/monitorx/config/__pycache__
